body {
    background: rgb(0, 0, 0);

}

.container {
    max-height: 550px;
    max-width: 550px;
    margin: auto;
}

header {
    height: 90px;
    background: white;
    display: flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: space-between;
}

input {
    height:42px;
    width: 61px;
    border: 0.5px solid #313131;
}

#drop-down {
    width: 315px;
    height: 45px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding-left: 10px;
}


#result-btn {

box-sizing: border-box;
width: 125px;
height: 45px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
border-radius: 4px;
}

section {
    display: flex;
    max-width: 550px;
}

.color-box{
    max-width: 110px;
    height: 460px;
    min-height: 200px;
    display: flex;
}

.color-code {
    padding: 15px 0px;
    background: white;
    margin-top: auto;
    text-align: center;
    width: 110px;

}



